/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
stroke: .1px black;
-webkit-text-stroke: .1px black;
@font-face{
  font-family: 'Lazer84';
  src: url('../font/Lazer84.ttf');
}
rgb(87,87,87);
rgb(239,240,235);
rgb(36,36,36);
rgb(176,145,91);
rgb(240,217,201);
rgb(255,234,0);
rgb(0,232,103);
rgb(0,35,255);
rgb(232,0,109);
rgb(255,157,0);
rgb(9,147,178);
rgb(35,35,35);

*/
body{
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  background-color: rgb(36,36,36);
}

header{
margin-top: 15px;
border-top: 5px solid rgb(176,145,91);
border-bottom: 5px solid rgb(176,145,91);
background-color: rgb(176,145,91);

}
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin-left: 23%;
  margin-right: 20%;
  margin-bottom: 5px;
  margin-top: 5px;
  color: rgb(240,217,201);

}
h2{
  font-size: 1.7em;
  margin: 0px;
  color: rgb(239,240,235);
}
h3{
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(239,240,235);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}


a{
  text-decoration: none;
  color: black;
}

article{
  width: 60%;
  margin-left: 20%;
}

div{
    text-align: center;
}

p{
  color: rgb(240,217,201);
}

h4{
  color:  rgb(239,240,235);
}

.post{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.borderleft{
border-left: 5px groove rgb(176,145,91);
border-bottom: 5px groove rgb(176,145,91);
border-radius: 5px;
}
.borderright{
border-right: 5px groove rgb(176,145,91);
border-bottom: 5px groove rgb(176,145,91);
border-radius: 5px;
}

/*
.orangeborder{
  border-left: 5px groove rgb(255,157,0);
  border-bottom: 5px groove rgb(255,157,0);
}
.pinkborder{
  border-left: 5px groove rgb(232,0,109);
  border-bottom: 5px groove rgb(232,0,109);
}

.yellowborder{
  border-left: 5px groove rgb(255,234,0);
  border-bottom: 5px groove rgb(255,234,0);
}
*/
.clickbox{
  border: 3px solid rgb(176,145,91);
  margin: 15px;
}

.photos{
  background-color: rgba(87,87,87,0.5);
  padding: 10px;
  text-align: center;
}

.flexbox{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;

}
figure{
  margin: 0;
}

img{
  border-radius: 8px;
}

.photos img{
  position: relative;
  max-width: 400px;
  height: auto;
  margin: 5px;
}
