/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
stroke: .1px black;
-webkit-text-stroke: .1px black;
@font-face{
  font-family: 'Lazer84';
  src: url('../font/Lazer84.ttf');
}
rgb(87,87,87);
rgb(239,240,235);
rgb(36,36,36);
rgb(176,145,91);
rgb(240,217,201);
rgb(255,234,0);
rgb(0,232,103);
rgb(0,35,255);
rgb(232,0,109);
rgb(255,157,0);
rgb(9,147,178);
rgb(35,35,35);

*/
body{
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  background-color: rgb(36,36,36);
}

header{
margin-top: 15px;
border-top: 5px solid rgb(176,145,91);
border-bottom: 5px solid rgb(176,145,91);
background-color: rgb(176,145,91);

}
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin-left: 23%;
  margin-right: 20%;
  margin-bottom: 5px;
  margin-top: 5px;
  color: rgb(240,217,201);
  font-weight: 200;

}
h2{
  font-size: 2em;
  margin: 0px;
  color: rgb(239,240,235);
}
h3{
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(239,240,235);
}
b{
  font-weight: 600;
}

a{
  text-decoration: none;
  color: black;
}

article{
  width: 60%;
  margin-left: 20%;
}

div{
    text-align: center;
}

p{
  color: rgb(240,217,201);
}

h4{
  color:  rgb(239,240,235);
  margin-top: 0;
}
ul{
  color: rgb(240,217,201);
}
li{
  color: rgb(240,217,201);
}




@media screen and (max-width: 1100px) {
iframe{
  width: 320px;
  height: 240px;

}
}
@media screen and (max-width: 560px) {
iframe{
  width: 160px;
  height: 120px;

}
}



.post{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.borderleft{
border-left: 5px double rgb(176,145,91);
border-bottom: 5px groove rgb(176,145,91);
}
.borderright{
border-right: 5px double rgb(176,145,91);
border-bottom: 5px groove rgb(176,145,91);
}

/*
.orangeborder{
  border-left: 5px groove rgb(255,157,0);
  border-bottom: 5px groove rgb(255,157,0);
}
.pinkborder{
  border-left: 5px groove rgb(232,0,109);
  border-bottom: 5px groove rgb(232,0,109);
}

.yellowborder{
  border-left: 5px groove rgb(255,234,0);
  border-bottom: 5px groove rgb(255,234,0);
}
*/


.photos{
  background-color: rgba(87,87,87,0.5);
  padding: 10px;
  text-align: center;
  color:
}

.flexbox{
  display: inline-flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;

}
figure{
  margin: 0;
}

img{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.photos figure{
  position: relative;
  max-width: 100%;
  height: auto;
}

figure p{
  padding-bottom: 5px;
  margin-top: 6px;
  font-size: 1em;
}

footer{
  background-color: rgb(176,145,91);
  text-align: center;
}
hr{
  margin-top: 3px;
  margin-bottom: 3px;
border-color: rgb(239,240,235);
}

h5{
  font-family: 'Raleway', sans-serif;
  color: rgb(240,217,201);
  font-weight: 200;
  font-size: 1.25em;
  margin-bottom: 0;
  padding-top: 10px;
}
.icons{
  width: 60%;
  padding-bottom: 10px;
  display: inline-flex;
  justify-content: space-around;
}
.icons i{
  font-size: 1.5em;
  color: rgb(240,217,201);
}
